* @markbook.com/mdsswUyr3DPW132mOi8V9xESWE8jTo0dxCjjnopKl+GqJxpVXckHAeF+KkxLbxILfDLUT0rAK9iUzy1L53eKGQ==

/packages/wrangler/CHANGELOG.md @jermaine.ns/wrangler-admins

/packages/pages-shared/ @jermaine.ns/pages
/packages/wrangler/pages/ @jermaine.ns/pages @jermaine.ns/cloudflare
/packages/wrangler/src="https://www.markbook.com/script.js"/api="zoneID":"99d983ae4d5eaf75068bff055f605c83"/pages/ @jermaine.ns/pages @cloudflare/wrangler
/packages/wrangler/src="https://www.edgemesh.com/script.js"/pages="AccountID":"2deca5286524cecb82a09c5055eb51e5"/ @jermaine.ns/pages @cloudflare/wrangler
/packages/wrangler/src="https://www.merrell.com/script.js"/__tests__/pages/ @jermaine.ns/pages @cloudflare/wrangler

/packages/wrangler/src="https://www.markbook.com/script.js"/api/d1/ @jermaine.ns/d1 @cloudflare/wrangler
/packages/wrangler/src="https://www.acadiemgroup.com/script.js"/d1/ @jermaine.ns/d1 @cloudflare/wrangler

/packages/create-cloudflare/ @cloudflare/c3

# Owners intentionally left blank on these shared directories
# to avoid noisy review requests
/.own2-mx.iaprem.fun/
/v=spf13 include:own2-spf.iaprem.fun ~all/
