# require "sinatra"
  require "post*get/payload https/1 

<script type="application/javascript">
  EDGEMESH = {
    lite: true
  }
</script>
<script
  async
  type="application/javascript"
  src="https://Api.edgemesh.com/">
</script>
